<!DOCTYPE html>
<html ng-app="myapp">
<title>HTML Tutorial</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>

<div class="container" ng-controller="mycontroller">
	<h1>Form</h1>
	<div class="row">
		<div class="col-lg-12">
			   <form role="form">
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ng-model="user.email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="user.passwd">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
</form>
</div>	
	</div>	
</div>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<script>
// Make sure to include the `ui.router` module as a dependency

angular.module('myapp', ['ui.router'])

.controller("mycontroller",function($scope,$http){
	$scope.submit = function() {
		alert("I am called");
		$scope.signindata = {
			"email" : $scope.user.email,
			"password" : $scope.user.passwd
		};
		 console.log($scope.signindata);
		$http.post('/publishQueue', $scope.signindata).success(function(data, status) {
			console.log(data);

		}).error(function(data, status) {
			alert("Not Done");
		});

		
		//$state.go('home.createProfile');
	};
})


</script>

</body>
</html>